<head>
<%if(host){%>
<script src="/javascripts/hostcontrols.js"></script>
<%}%>
<%if(!host){%>
<script src="/javascripts/musicpoll.js"></script>
<%}%>
</head>

<audio id="music"></audio>

<h1><%= roomname %></h1>
<h2>Hosted by: <%=hostname%></h2>
<br>
<br>
<div id="currentSong"></div>

<%if(host){%>

    <input id='room' type='hidden' value="<%= roomname %>">
    <input id='launch' type="Submit" value="Launch Music Room" onclick='validateLaunch()'>
	
	<div id="library">
	<p>Music Library</p>
	<table id="libraryList">
	<% for(var i=0; i<playlist.length; i++){
	var song = playlist[i]; %>
	<tr>
	<td id="lib_<%=i%>" href="" onclick="selectSong(this, 0); return false;" value='<%=song%>' > + <%= song %></td>
	</tr>
	<% } %>
	</table>
	</div>
	
	<div id="playlist">
	<p>Your Playlist</p>
	<table id="songList">
	</table>
	</div>

<%}%>